<footer class="d-flex w-100 mt-5 app-home-footer">
        <div class="row w-100 mx-0 pt-5">
            <div class="col-sm-12 col-md-4 px-4 py-5">
                <h5 class="font-weight-bold pl-4 text-white text-wrap" style="font-size: 24px; font-family: 'Noto Sans', sans-serif;">Best Western Plus, Nigeria</h5>
                <div class="d-flex flex-row py-2 text-white text-wrap" style="font-size: 15px;">
                    <mat-icon class="mr-3">place</mat-icon>
                   <span class="my-auto">
                        Opposite Redemption Road, New life and new opportunities. New Nigeria.
                   </span>
                </div>
                <div class="d-flex flex-row py-2 text-white text-wrap" style="font-size: 15px;">
                    <mat-icon class="mr-3">phone</mat-icon>
                    <a class="my-auto text-white" href="tel:+2348166473017" type="tel">(+234)8166473017</a>
                </div>
                <div class="d-flex flex-row py-2 text-white text-wrap" style="font-size: 15px;">
                    <mat-icon class="mr-3">mail</mat-icon>
                    <a class="my-auto text-white" href="mailto:mail@example.com?Subject=Inquiry" type="email">mail@example.com</a>
                </div>

                <button matRipple class="d-flex w-50 button mt-4 button-outline button-outline-secondary" color="secondary" style="box-shadow: 11px 9px 14px 1px #bb0404;">
                    <a href="https://bestwestern.com" class="w-100 h-100 text-center text-white">Bookings</a>
                </button>
            </div>

            <div class="col-sm-12 col-md-3 px-4 py-5">
                <ul class="text-white px-0" style="list-style-type: none; font-size: 15px;">
                    <li class="mb-2 d-flex">
                        <mat-icon [inline]="true" class="mr-2">link</mat-icon>
                        <a class="text-white my-auto" href="#rooms">Rooms</a>
                    </li>
                    <li class="mb-2 d-flex">
                        <mat-icon [inline]="true" class="mr-2">link</mat-icon>
                        <a class="text-white my-auto" href="#contact-us">Contact Us</a>
                    </li>
                    <li class="mb-2 d-flex">
                        <mat-icon [inline]="true" class="mr-2">link</mat-icon>
                        <a class="text-white my-auto" href="#clients">Clients</a>
                    </li>
                    <li class="mb-2 d-flex">
                        <mat-icon [inline]="true" class="mr-2">link</mat-icon>
                        <a class="text-white my-auto" href="#experiences">Testimonials</a>
                    </li>
                    <li class="mb-2 d-flex">
                        <mat-icon [inline]="true" class="mr-2">link</mat-icon>
                        <a class="text-white my-auto" href="#">Gallery</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-3 px-4 py-5">
                <ul class="text-white px-0" style="list-style-type: none; font-size: 15px;">
                    <li class="mb-2 d-flex">
                        <mat-icon [inline]="true" class="mr-2">link</mat-icon>
                        <a class="text-white my-auto" href="#">Terms & Conditions</a>
                    </li>
                    <li class="mb-2 d-flex">
                        <mat-icon [inline]="true" class="mr-2">link</mat-icon>
                        <a class="text-white my-auto" href="#">HelpDesk</a>
                    </li>
                    <li class="mb-2 d-flex">
                        <mat-icon [inline]="true" class="mr-2">link</mat-icon>
                        <a class="text-white my-auto" href="#">FAQs</a>
                    </li>
                    <li class="mb-2 d-flex">
                        <mat-icon [inline]="true" class="mr-2">link</mat-icon>
                        <a class="text-white my-auto" href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-2 px-4 py-5 d-flex flex-wrap  app-home-footer--social-links">
                <a class="d-flex text-white mr-2 my-2" href="#">
                    <app-social-media-icons [icon]="'twitter'" class="d-flex mr-2"></app-social-media-icons>
                    <span class="d-flex my-auto" style="line-height: 1rem;">Twitter</span>
                </a>
                <a class="d-flex text-white my-2 mr-2" href="#">
                    <app-social-media-icons [icon]="'instagram'" class="d-flex mr-2"></app-social-media-icons>
                    <span class="d-flex my-auto" style="line-height: 1rem;">Instagram</span>
                </a>
                <a class="d-flex text-white my-2" href="#">
                    <app-social-media-icons [icon]="'facebook'" class="d-flex mr-2"></app-social-media-icons>
                    <span class="d-flex my-auto" style="line-height: 1rem;">Facebook</span>
                </a>
            </div>

            <div class="col-12 px-4 py-3 d-flex flex-wrap flex-column justify-content-between app-footer-copyright" style="font-size: 15px; line-height: 2.5rem">
                <span class="mx-auto text-white text-center text-wrap">Each Best Western® branded hotel is independently owned and operated. ©2002–2021 Best Western International, Inc. All rights reserved.</span>
            </div>
        </div>
    </footer>
