<div appHeaderBackground class="d-flex w-100 flex-column app-home--container">
    <!-- large image -->
    <!-- possible carousel info on it -->
    <div class="d-flex flex-column w-100 pt-5 container app-home--intro">
        <div class="row app-home--intro__carousel">
            <div class="col-md-12 col-lg-5 d-flex py-5 flex-column">
                <!-- TODO carousel buttons -->
                <!-- TODO add bounce effect to intro images -->
                <h2 class="text-left mt-auto font-weight-bold text-dark app--home-intro--main-text">Best Western Plus,</h2>
                <h2 class="text-left mb-5 font-weight-bold text-dark app--home-intro--main-text">Nigeria</h2>
                <span class="text-wrap text-secondary" style="font-family: Quicksand;">
                    <!-- We offer experience that lingers on the mind... -->
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </span>

                <button matRipple class="d-flex flex-row mt-5 mb-auto button button-filled py-3" color="primary">
                    <span class="m-auto font-weight-bold text-uppercase">Quick Tour</span>
                </button>
            </div>
            <div class="col-md-12 col-lg-7 d-flex flex-column py-5 px-2 app-home--intro--carousel_image">
                <img  class="d-flex w-100 m-auto" src="assets/images/rooms-1.jpg" alt="rooms-image">
                <img  class="d-flex w-100 m-auto" src="assets/images/rooms-2.jpg" alt="rooms-image">
            </div>
        </div>
    </div>

    <div class="d-flex w-100 py-5 mt-5 app-rooms--section" id="rooms">
        <div class="contaner w-100 d-flex flex-column">
            <h4 class="mx-auto w-75 text-center font-weight-bold text-secondary">Rooms</h4>
            <h6 class="mx-auto w-75 text-center mb-5 text-secondary">We've have different options that suites your request</h6>

            <!-- TODO add buttons to scroll image list on sm devices -->
            <div class="row mx-0 w-100 px-3">
                <div (mouseover)="toggleOverlay('deluxe')"
                    (mouseout)="toggleOverlay('deluxe')"
                    class="col-md-3 d-flex app-rooms--image cursor-pointer" style="background-image: url('assets/images/rooms-3.jpg');">
                    <div class="w-100 p-2 mt-auto" [ngClass]="{'d-flex': roomsOverlay.deluxe === true, 'd-none': roomsOverlay.deluxe === false}" style="height: 48px; background-color: #00000066;">
                        <span class="my-auto text-white">Deluxe Lite</span>
                        <button mat-button class="mr-2 ml-auto my-auto text-white" style="font-size: 13px;">View</button>
                    </div>
                </div>
                <div (mouseover)="toggleOverlay('mandela')"
                    (mouseout)="toggleOverlay('mandela')" class="col-md-3 app-rooms--image cursor-pointer" style="background-image: url('assets/images/rooms-4.jpg');">
                    <div
                        [ngClass]="{'d-flex': roomsOverlay.mandela === true, 'd-none': roomsOverlay.mandela === false}"
                        class="d-flex w-100 p-2 mt-auto" style="height: 48px; background-color: #00000066;">
                        <span class="my-auto text-white">Mandela Suite</span>
                        <button mat-button class="mr-2 ml-auto my-auto text-white" style="font-size: 13px;">View</button>
                    </div>
                </div>
                <div
                    (mouseover)="toggleOverlay('vacation')"
                    (mouseout)="toggleOverlay('vacation')"
                    class="col-md-3 d-flex app-rooms--image cursor-pointer" style="background-image: url('assets/images/rooms-5.jpg');">
                    <div
                        [ngClass]="{'d-flex': roomsOverlay.vacation === true, 'd-none': roomsOverlay.vacation === false}"
                        class="d-flex w-100 p-2 mt-auto" style="height: 48px; background-color: #00000066;">
                        <span class="my-auto text-white">Vacation Xtra</span>
                        <button mat-button class="mr-2 ml-auto my-auto text-white" style="font-size: 13px;">View</button>
                    </div>
                </div>
                <div
                    (mouseover)="toggleOverlay('holiday')"
                    (mouseout)="toggleOverlay('holiday')"
                    class="col-md-3 app-rooms--image cursor-pointer" style="background-image: url('assets/images/rooms-6.jpg');">
                    <div
                        [ngClass]="{'d-flex': roomsOverlay.holiday === true, 'd-none': roomsOverlay.holiday === false}"
                        class="d-flex w-100 p-2 mt-auto" style="height: 48px; background-color: #00000066;">
                        <span class="my-auto text-white">Holiday Lite</span>
                        <button mat-button class="mr-2 ml-auto my-auto text-white" style="font-size: 13px;">View</button>
                    </div>
                </div>
                <div
                    (mouseover)="toggleOverlay('executive')"
                    (mouseout)="toggleOverlay('executive')"
                    class="col-md-6 d-flex col-sm-12 app-rooms--image cursor-pointer" style="background-image: url('assets/images/rooms-7.jpg');">
                    <div
                        [ngClass]="{'d-flex': roomsOverlay.executive === true, 'd-none': roomsOverlay.executive === false}"
                        class="d-flex w-100 p-2 mt-auto" style="height: 48px; background-color: #00000066;">
                        <span class="my-auto text-white">Executive Deluxe</span>
                        <button mat-button class="mr-2 ml-auto my-auto text-white" style="font-size: 13px;">View</button>
                    </div>
                </div>
                <div
                    (mouseover)="toggleOverlay('obama')"
                    (mouseout)="toggleOverlay('obama')"
                    class="col-md-6 col-sm-12 app-rooms--image cursor-pointer" style="background-image: url('assets/images/rooms-8.jpg');">
                    <div
                        [ngClass]="{'d-flex': roomsOverlay.obama === true, 'd-none': roomsOverlay.obama === false}"
                        class="d-flex w-100 p-2 mt-auto" style="height: 48px; background-color: #00000066;">
                        <span class="my-auto text-white">Obama Exquisite</span>
                        <button mat-button class="mr-2 ml-auto my-auto text-white" style="font-size: 13px;">View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="dflex w-100 mb-5 py-5">
        <div class="container">
            <iframe class="w-100" height="320px" src="https://www.youtube.com/embed/IUOvGRHUWS8" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <video class="d-flex w-100" height="320px"
                controls poster='assets/images/rooms-5.jpg'>
                <source src="https://youtu.be/IUOvGRHUWS8" type="video/mp4">
            </video>
        </div>
    </div> -->

    <div class="d-flex py-5 mt-5 w-100 app-home-testimonials" id="experiences">
        <div class="container d-flex flex-column">
            <h5 class="mb-4 mx-auto text-center w-75 text-dark">Awesome Experiences of our guests</h5>

            <div class="d-flex row mx-0 flex-wrap justify-content-evenly pb-5 align-items-center" style="overflow-y: hidden; overflow-x: auto; padding-top: 6.5rem;">
                <!-- <div class="col-sm-6 col-md-4 d-flex"> -->
                    <div class="d-flex w-100 card px-3 py-1">
                        <div class="d-flex mx-auto mb-3 position-relative app-home-testimonial--image" style="margin-top: -98px; box-shadow: 0px 20px 40px rgba(40, 57, 144, 0.25);">
                            <img class="w-100 h-100" src="assets/svgs/avatars/testifier-female.svg" alt="testifier-image">
                        </div>
                        <h5 class="d-flex card-title text-secondary text-center"style="font-size: 16px;">Haruna Ishola Ibidapo</h5>
                        <div class="d-flex flex-row mb-3">
                            <mat-icon color="warn">star_rate</mat-icon>
                            <mat-icon color="warn">star_rate</mat-icon>
                            <mat-icon color="warn">star_rate</mat-icon>
                            <mat-icon color="warn">star_rate</mat-icon>
                            <mat-icon>star_rate</mat-icon>
                        </div>
                        <div class="d-flex flex-column">
                            <mat-icon class="mx-auto" color="primary" style="transform: rotate(180deg);">format_quote</mat-icon>
                            <span class="my-auto px-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                        </div>
                    </div>
                <!-- </div> -->
                <!-- <div class="col-sm-6 col-md-4 d-flex"> -->
                    <div class="d-flex w-100 card px-3 py-1">
                        <div class="d-flex mx-auto mb-3 position-relative app-home-testimonial--image"
                            style="margin-top: -98px; box-shadow: 0px 20px 40px rgba(40, 57, 144, 0.25);">
                            <img class="w-100 h-100" src="assets/svgs/avatars/testifier-male.svg" alt="testifier-image">
                        </div>
                        <h5 class="d-flex card-title text-secondary text-center" style="font-size: 16px;">Ikechukwu Azeez Olurunfemi</h5>
                        <div class="d-flex flex-row mb-3">
                            <mat-icon color="warn">star_rate</mat-icon>
                            <mat-icon color="warn">star_rate</mat-icon>
                            <mat-icon color="warn">star_rate</mat-icon>
                            <mat-icon color="warn">star_rate</mat-icon>
                            <mat-icon>star_rate</mat-icon>
                        </div>
                        <div class="d-flex flex-column">
                            <mat-icon class="mx-auto" color="primary" style="transform: rotate(180deg);">format_quote</mat-icon>
                            <span class="my-auto px-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                        </div>
                    </div>
                <!-- </div> -->
                <!-- <div class="col-sm-6 col-md-4 d-flex"> -->
                    <div class="d-flex w-100 card px-3 py-1">
                        <div class="d-flex mx-auto mb-3 position-relative app-home-testimonial--image"
                            style="margin-top: -98px; box-shadow: 0px 20px 40px rgba(40, 57, 144, 0.25);">
                            <img class="w-100 h-100" src="assets/svgs/avatars/testifier-female-2.svg" alt="testifier-image">
                        </div>
                        <h5 class="d-flex card-title text-secondary text-center" style="font-size: 16px;">Rebecca Brown Hillux</h5>
                        <div class="d-flex flex-row mb-3">
                            <mat-icon color="warn">star_rate</mat-icon>
                            <mat-icon color="warn">star_rate</mat-icon>
                            <mat-icon color="warn">star_rate</mat-icon>
                            <mat-icon color="warn">star_rate</mat-icon>
                            <mat-icon>star_rate</mat-icon>
                        </div>
                        <div class="d-flex flex-column">
                            <mat-icon class="mx-auto" color="primary" style="transform: rotate(180deg);">format_quote</mat-icon>
                            <span class="my-auto px-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</span>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
        </div>
    </div>

    <div class="d-flex py-5 mt-5 w-100 app-home-clients--section" id="clients">
        <div class="container">
            <div class="d-flex flex-column row mx-0">
                <h5 class="mb-4 mx-auto text-center w-75 text-dark">Join our growing list of clients across the Country</h5>
                <div class="d-flex flex-row w-100 pt-5 flex-wrap justify-content-evenly">
                    <img src="assets/images/numis.svg" alt="client-image">
                    <img src="assets/images/stripe.svg" alt="client-image">
                    <img src="assets/images/pwc.svg" alt="client-image">
                    <img src="assets/images/paypal.svg" alt="client-image">
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex w-100 mt-5 py-5" id="contact-us">
        <!-- add curve to bottom edge -->
        <div class="d-flex container my-5 flex-column">
            <div class="d-flex w-100 mb-4 flex-row">
                <!-- use SVG -->
                <!-- <mat-icon class="my-auto" color="warn" style="font-size: 24px">campaign</mat-icon> -->
                <app-mailbox class="ml-auto" style="width: 124px; height: 124px;"></app-mailbox>
                <h3 class="my-auto mr-auto w-50 text-center font-weight-bold text-secondary text-wrap">Reach out to us! We are quick to respond.</h3>
            </div>
            <form class="d-flex w-100 flex-column" [formGroup]="form">
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" placeholder="Olukotun Chinedu Mohammed" required>
                    <mat-icon color="warn" matSuffix>person</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="name@example.com" required>
                    <mat-icon color="warn" matSuffix>mail</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>Subject</mat-label>
                    <input matInput formControlName="subject" placeholder="Room Booking" required>
                    <mat-icon color="warn" matSuffix>subject</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" color="accent">
                    <textarea formControlName="message" rows="12" matInput placeholder="What would you have us do you for?" required></textarea>
                </mat-form-field>

                <button (click)="submitMessage()" [disabled]="form.invalid === true" mat-raised-button class="py-2 w-50 mx-auto" color="warn">
                    <mat-icon class="my-auto mr-3" color="basic" [inline]="true">campaign</mat-icon>
                    <span class="my-auto">Submit</span>
                </button>
            </form>
        </div>
    </div>

    <footer class="d-flex w-100 mt-5 app-home-footer">
        <div class="row w-100 mx-0 pt-5">
            <div class="col-sm-12 col-md-4 px-4 py-5">
                <h5 class="font-weight-bold pl-4 text-white text-wrap" style="font-size: 24px; font-family: 'Noto Sans', sans-serif;">Best Western Plus, Nigeria</h5>
                <div class="d-flex flex-row py-2 text-white text-wrap" style="font-size: 15px;">
                    <mat-icon class="mr-3">place</mat-icon>
                   <span class="my-auto">
                        Opposite Redemption Road, New life and new opportunities. New Nigeria.
                   </span>
                </div>
                <div class="d-flex flex-row py-2 text-white text-wrap" style="font-size: 15px;">
                    <mat-icon class="mr-3">phone</mat-icon>
                    <a class="my-auto text-white" href="tel:+2348166473017" type="tel">(+234)8166473017</a>
                </div>
                <div class="d-flex flex-row py-2 text-white text-wrap" style="font-size: 15px;">
                    <mat-icon class="mr-3">mail</mat-icon>
                    <a class="my-auto text-white" href="mailto:mail@example.com?Subject=Inquiry" type="email">mail@example.com</a>
                </div>

                <button matRipple class="d-flex w-50 button mt-4 button-outline button-outline-secondary" color="secondary" style="box-shadow: 11px 9px 14px 1px #bb0404;">
                    <a href="https://bestwestern.com" class="w-100 h-100 text-center text-white">Bookings</a>
                </button>
            </div>

            <div class="col-sm-12 col-md-3 px-4 py-5">
                <ul class="text-white px-0" style="list-style-type: none; font-size: 15px;">
                    <li class="mb-2 d-flex">
                        <mat-icon [inline]="true" class="mr-2">link</mat-icon>
                        <a class="text-white my-auto" href="#rooms">Rooms</a>
                    </li>
                    <li class="mb-2 d-flex">
                        <mat-icon [inline]="true" class="mr-2">link</mat-icon>
                        <a class="text-white my-auto" href="#contact-us">Contact Us</a>
                    </li>
                    <li class="mb-2 d-flex">
                        <mat-icon [inline]="true" class="mr-2">link</mat-icon>
                        <a class="text-white my-auto" href="#clients">Clients</a>
                    </li>
                    <li class="mb-2 d-flex">
                        <mat-icon [inline]="true" class="mr-2">link</mat-icon>
                        <a class="text-white my-auto" href="#experiences">Testimonials</a>
                    </li>
                    <li class="mb-2 d-flex">
                        <mat-icon [inline]="true" class="mr-2">link</mat-icon>
                        <a class="text-white my-auto" href="#">Gallery</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-3 px-4 py-5">
                <ul class="text-white px-0" style="list-style-type: none; font-size: 15px;">
                    <li class="mb-2 d-flex">
                        <mat-icon [inline]="true" class="mr-2">link</mat-icon>
                        <a class="text-white my-auto" href="#">Terms & Conditions</a>
                    </li>
                    <li class="mb-2 d-flex">
                        <mat-icon [inline]="true" class="mr-2">link</mat-icon>
                        <a class="text-white my-auto" href="#">HelpDesk</a>
                    </li>
                    <li class="mb-2 d-flex">
                        <mat-icon [inline]="true" class="mr-2">link</mat-icon>
                        <a class="text-white my-auto" href="#">FAQs</a>
                    </li>
                    <li class="mb-2 d-flex">
                        <mat-icon [inline]="true" class="mr-2">link</mat-icon>
                        <a class="text-white my-auto" href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-2 px-4 py-5 d-flex flex-wrap  app-home-footer--social-links">
                <a class="d-flex text-white mr-2 my-2" href="#">
                    <app-social-media-icons [icon]="'twitter'" class="d-flex mr-2"></app-social-media-icons>
                    <span class="d-flex my-auto" style="line-height: 1rem;">Twitter</span>
                </a>
                <a class="d-flex text-white my-2 mr-2" href="#">
                    <app-social-media-icons [icon]="'instagram'" class="d-flex mr-2"></app-social-media-icons>
                    <span class="d-flex my-auto" style="line-height: 1rem;">Instagram</span>
                </a>
                <a class="d-flex text-white my-2" href="#">
                    <app-social-media-icons [icon]="'facebook'" class="d-flex mr-2"></app-social-media-icons>
                    <span class="d-flex my-auto" style="line-height: 1rem;">Facebook</span>
                </a>
            </div>

            <div class="col-12 px-4 py-3 d-flex flex-wrap flex-column justify-content-between app-footer-copyright" style="font-size: 15px; line-height: 2.5rem">
                <span class="mx-auto text-white text-center text-wrap">Each Best Western® branded hotel is independently owned and operated. ©2002–2021 Best Western International, Inc. All rights reserved.</span>
            </div>
        </div>
    </footer>
</div>
